ORACLE_PASSWORD=SuaSenhaDBA
ORACLE_APP_USER=NUSP
ORACLE_APP_PASSWORD=SuaSenhaApp
SPRING_DATASOURCE_USERNAME=NUSP
SPRING_DATASOURCE_PASSWORD=SuaSenhaApp
CORS_ALLOWED_ORIGINS=https://seu-dominio.com,http://localhost:4200
SPRING_MAIL_USERNAME=seu-email@dominio.com
SPRING_MAIL_PASSWORD=SuaSenhaEmail
AUTH_JWT_SECRET=SeuSegredoJWT
ADMIN_SUPERVISOR_USERNAME=username_supervisor
ADMIN_CHEFE_USERNAME=username_chefe
ADMIN_MASTER_USERNAME=username_master
